/* Fonts 
font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif;

*/

:root {
  --spacer: 3rem;
  --box-shadow: 0.3rem 0.3rem 1.5rem rgb(0, 0, 0, 0.15);
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}

h1,
h2,
h3,
p,
figure {
  margin: 0;
  padding: 0;
}

/* Utilities */
ul[class],
ol[class] {
  padding: 0;
  margin: 0;
  list-style: none;
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, var(--spacer));
}
/* Start Here */
body{
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  padding: 35px 150px;

}

header{
  display: inline-block;
}
h1{
  font-size: 6.4rem;
  font-family: 'Poppins', sans-serif;
  color: #F55D3A;
}
h2{
  font-size: 3.2rem;
  font-family: 'Lora', serif;
}
h3{
  font-size: 2.8rem;
  font-family: 'Poppins', sans-serif;
}
p{
  font-size: 1.8rem;
  font-family: 'Lora', serif;
}
li{
  display: inline-block;
  font-size: 1.8rem;
  padding-right: 5px;
  font-family: 'Poppins', sans-serif;
}

div.author{
  display: inline-flex;
}
.authors{
  text-align: center;
}

.logo{
  font-size: 2.6rem;
  font-family: 'Poppins', sans-serif;
}
.sign-up{
}
a{
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
}
.pumpkin{
  height: 25rem;
  float: right;
}
.hero{
  padding: 10rem 1rem 25rem;
}
.opening{
  margin-top: 5rem;
}
.subtitle{
  text-align: center;
}




